.library{
	height: 100vh;
	background-color: #DDE2E8;
	display: flex;
}

.media-list{
	width: 180px;
	background-color: #fff;
	list-style: none;
	height: calc(100vh - 83px);
	overflow-y: auto;
	padding: 0 20px 20px;
}

.media-list > li {
	margin-bottom: 10px;
}

.list-image{
	width: 175px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
	border: 2px solid #DDE2E8;
}

.image-container{
	flex: 1;
	height: calc(100vh - 120px);
	background-color: #fff;
	margin: 50px;
	border-radius: 8px;
	padding: 10px 5px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	position: relative;
}

.image-container > .list-image{
	margin: 5px;
}

.dropped-img-wrapper{
	position: relative;
	margin: 10px;
}

.dropped-image-switch{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999999;
}

.preview-image{
	max-width: 150px;
	display: block;
	margin: 0 auto;
}

.change-photo-btn{
	text-align: center;
	margin-top: 18px;
	color: #35AEF2;
	cursor: pointer;
}

.list-title{
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #4A5257;
	padding: 20px;
}

.drop-message {
    text-align: center;
    border: 2px dashed #DDE2E8;
	min-height: 366px;
	min-width: 550px;
	border-radius: 8px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drop-message > img {
	width: 100px;
	margin-bottom: 35px;
}

.drop-message > p{
	color: #4A5257;
	font-size: 18px;
}

.selected-image{
	border: 2px solid #35AEF2;
}